<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Khai Báo Y Tế</title>
    <th:block th:replace="layout::cssAll"></th:block>
    <link type="text/css" rel="stylesheet" th:href="@{/css/radioButton.css}">
</head>
<body>
    <header th:replace="layout::topBar"></header>
    <main role="main" class="container" id="main">
        <div id="inside" class="container-fluid">
            <div class="text-center text-center">
                <h2 id="messengerResult">

                </h2>
            </div>
            <div class="row text-center">
                <h3>Tờ khai y tế</h3>
            </div>
            <div class="container-fluid">
                <form id="formDeclare" method="post">
                    <div class="row">
                        <div class="form-group col-sm-12 col-lg-8">
                            <label for="entry_gate" class="main_label">Cửa khẩu <span>(*)</span></label>
                            <select class="select_search custom-select" name="entry_gate" id="entry_gate">
                                <th:block th:each="gate:${gates}">
                                    <option th:value="${gate.id}" th:text="${gate.name}"></option>
                                </th:block>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-8">
                            <label for="person_legalDocument" class="main_label">Số hộ chiếu hoặc giấy thông hành hợp pháp khác <span>(*)</span></label>
                            <input type="text" class="form-control" name="person_legalDocument"
                                   id="person_legalDocument" maxlength="50">
                        </div>
                        <div class="form-group col-sm-6 col-md-2">
                            <button type="button" class="btn btn-info" onclick="checkPassport()">Kiểm Tra Hộ Chiếu</button>
                        </div>
                        <div class="form-group col-sm-6 col-md-2" id="passport_messenger">

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-8">
                            <label for="person_name" class="main_label">Họ tên <span>(*)</span></label>
                            <input type="text" class="form-control" name="person_name"
                                   id="person_name" maxlength="200">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="person_birthYear" class="main_label">Năm sinh <span>(*)</span></label>
                            <select class="select_search custom-select" name="person_birthYear" id="person_birthYear">
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="person_gender" class="main_label">Giới tính <span>(*)</span></label>
                            <select class="custom-select" name="person_gender" id="person_gender">
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                                <option value="2">Khác</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="person_nationality" class="main_label">Quốc tịch <span>(*)</span></label>
                            <select class="select_search custom-select" id="person_nationality" >
                                <th:block th:each="nationality:${nationals}">
                                    <option th:value="${nationality.id}" th:text="${nationality.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="transportType" class="main_label">Phương tiện <span>(*)</span></label>
                            <select class="custom-select" name="transportType" id="transportType">
                                <th:block th:each="transportType:${transportTypes}">
                                    <option th:value="${transportType.id}" th:text="${transportType.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="transport_note" class="main_label">Ghi chú (Cho phương tiện di chuyển)</label>
                            <textarea type="text" class="form-control" name="transport_note" id="transport_note"></textarea>
                        </div>
                        <div class="form-group col-sm-12 col-lg-6">
                            <label for="transport_transportationNo" class="main_label">Số hiệu phương tiện</label>
                            <input type="text" class="form-control"
                                   name="transport_transportationNo" id="transport_transportationNo" maxlength="72">
                        </div>
                        <div class="form-group col-sm-12 col-lg-6" >
                            <label for="entry_seatNo" class="main_label">Số ghế</label>
                            <input type="text" class="form-control"
                                   name="entry_seatNo" id="entry_seatNo" maxlength="32">
                        </div>
                        <div class="form-group col-sm-12 col-lg-6">
                            <label for="entry_departureDate" class="main_label">Ngày khởi hành <span>(*)</span></label>
                            <input type="date" class="form-control"
                                   name="entry_departureDate" id="entry_departureDate">
                        </div>
                        <div class="form-group col-sm-12 col-lg-6">
                            <label for="entry_immigrationDate" class="main_label">Ngày nhập cảnh <span>(*)</span></label>
                            <input type="date" class="form-control"
                                   name="entry_immigrationDate" id="entry_immigrationDate">
                        </div>
                        <div class="col-sm-12">
                            <p>Địa điểm khởi hành (tỉnh/quốc gia)</p>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label for="national_Departure" class="main_label">Quốc gia/ Vùng lãnh thổ <span>(*)</span></label>
                            <select class="select_search custom-select"
                                    name="national_Departure" id="national_Departure">
                                <th:block th:each="national:${nationals}">
                                    <option th:value="${national.id}" th:text="${national.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label for="entry_provinceDeparture" class="main_label">Tỉnh <span>(*)</span></label>
                            <select class="select_search custom-select"
                                    name="entry_provinceDeparture" id="entry_provinceDeparture">
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <p>Địa điểm nơi đến (tỉnh/quốc gia)</p>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label for="national_destination" class="main_label">Quốc gia/ Vùng lãnh thổ <span>(*)</span></label>
                            <select class="select_search custom-select"
                                    name="national_destination" id="national_destination">
                                <th:block th:each="national:${nationals}">
                                    <option th:value="${national.id}" th:text="${national.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label for="entry_provinceDestination" class="main_label">Tỉnh <span>(*)</span></label>
                            <select class="select_search custom-select"
                                    name="entry_provinceDestination" id="entry_provinceDestination">
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <label for="entry_placeTravel" class="main_label">
                                Trong vòng 14 ngày qua, Anh/Chị có đến quốc gia/vùng lãnh thổ nào? <span>(*)</span>
                            </label>
                            <select class="select_search custom-select"
                                    name="entry_placeTravel[]" multiple="multiple" id="entry_placeTravel">
                                <th:block th:each="national:${nationals}">
                                    <option th:value="${national.name}" th:text="${national.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="declare_tittle">Địa chỉ liên lạc tại Việt Nam<p>
                        </div>
                        <div class="col-sm-12 col-lg-3 form-group">
                            <label for="contact_Province" class="main_label">Tỉnh <span>(*)</span></label>
                            <select class="select_search custom-select"
                                    name="contact_Province" id="contact_Province">
                            </select>
                        </div>
                        <div class="col-sm-12 col-lg-3 form-group">
                            <label for="contact_District" class="main_label">Quận / huyện <span>(*)</span></label>
                            <select class="select_search custom-select"
                                    name="contact_District" id="contact_District">
                            </select>
                        </div>
                        <div class="col-sm-12 col-lg-3 form-group">
                            <label for="contact_District" class="main_label">Phường / xã  <span>(*)</span></label>
                            <select class="select_search custom-select"
                                    name="contact_Location" id="contact_Location">
                            </select>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="contact_address" class="main_label">
                                Địa chỉ nơi ở tại Việt Nam <span>(*)</span>
                            </label>
                            <textarea type="text" class="form-control"
                                      name="contact_address" id="contact_address" maxlength="240"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <small>
                                Số điện thoại bạn sẽ sử dụng tại Việt Nam (Là số Roaming hoặc số Việt Nam)
                            </small>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <label for="contact_phone" class="main_label">Điện thoại <span>(*)</span></label>
                            <input type="tel" class="form-control"
                                   name="contact_phone" id="contact_phone">
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <label for="contact_email" class="main_label">Email </label>
                            <input type="email" class="form-control"
                                   name="contact_email" id="contact_email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="declare_tittle">
                                Trong vòng 14 ngày (tính đến thời điểm làm thủ tục xuất cảnh, nhập cảnh, quá cảnh) Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không? (*)
                            <p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width: 60%">Triệu chứng</th>
                                        <th style="width: 20%">Có</th>
                                        <th style="width: 20%">Không</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="symptom:${symptoms}">
                                        <td th:text="${symptom.name}">
                                        </td>
<!--                                        <td>-->
<!--                                            <input type="radio" class="form-check-input symptom_checkbox"-->
<!--                                                   th:name="${'symptom:' + symptom.id}" th:value="${symptom.id + ',:,1'}">-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <input type="radio" class="form-check-input symptom_checkbox"-->
<!--                                                   th:name="${'symptom:' + symptom.id}" th:value="${symptom.id + ',:,0'}">-->
<!--                                        </td>-->
                                        <td>
                                            <div class="option">
                                                <input type="radio" class="symptom_checkbox"
                                                   th:name="${'symptom:' + symptom.id}" th:value="${symptom.id + ',:,1'}"
                                                    th:id="${'symptom-y:' + symptom.id}">
                                                <label th:for="${'symptom-y:' + symptom.id}" aria-label="Dark grey">
                                                    <span></span>
                                                    Có
                                                    <div class="card card--dark card--sm">
                                                        <div class="card__chip"></div>
                                                        <div class="card__content">
                                                            <div class="card__text">
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                            </div>
                                                            <div class="card__symbol">
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="option">
                                                <input type="radio" class="symptom_checkbox"
                                                       checked="checked"
                                                       th:name="${'symptom:' + symptom.id}"
                                                       th:value="${symptom.id + ',:,0'}"
                                                       th:id="${'symptom-n:' + symptom.id}">
                                                <label th:for="${'symptom-n:' + symptom.id}" aria-label="Royal blue">
                                                    <span></span>

                                                    Không

                                                    <div class="card card--blue card--sm">
                                                        <div class="card__chip"></div>
                                                        <div class="card__content">
                                                            <div class="card__text">
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                            </div>
                                                            <div class="card__symbol">
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label for="entry_listCure" class="main_label">
                                Danh sách vắc-xin hoặc sinh phẩm được sử dụng
                            </label>
                            <input type="text" class="form-control" id="entry_listCure">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="declare_tittle">Lịch sử phơi nhiễm: Trong vòng 14 ngày qua, Anh/Chị có <span>(*)</span></p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width: 80%"></th>
                                        <th style="width: 10%">Có</th>
                                        <th style="width: 10%">Không</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="exposure:${exposures}">
                                        <td th:text="${exposure.name}">
                                        </td>
<!--                                        <td>-->
<!--                                            <input type="radio" class="form-check-input exposure_checkbox"-->
<!--                                                   th:name="${'exposure:' + exposure.id}" th:value="${exposure.id + ',:,1'}">-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <input type="radio" class="form-check-input exposure_checkbox"-->
<!--                                                   th:name="${'exposure:' + exposure.id}" th:value="${exposure.id + ',:,0'}">-->
<!--                                        </td>-->
                                        <td>
                                            <div class="option">
                                                <input type="radio" class="exposure_checkbox"
                                                       th:name="${'exposure:' + exposure.id}" th:value="${exposure.id + ',:,1'}"
                                                       th:id="${'exposure-y:' + exposure.id}">
                                                <label th:for="${'exposure-y:' + exposure.id}" aria-label="Dark grey">
                                                    <span></span>
                                                    Có
                                                    <div class="card card--dark card--sm">
                                                        <div class="card__chip"></div>
                                                        <div class="card__content">
                                                            <div class="card__text">
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                            </div>
                                                            <div class="card__symbol">
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="option">
                                                <input type="radio" class="exposure_checkbox"
                                                       checked="checked"
                                                       th:name="${'exposure:' + exposure.id}"
                                                       th:value="${exposure.id + ',:,0'}"
                                                       th:id="${'exposure-n:' + exposure.id}">
                                                <label th:for="${'exposure-n:' + exposure.id}" aria-label="Royal blue">
                                                    <span></span>

                                                    Không

                                                    <div class="card card--blue card--sm">
                                                        <div class="card__chip"></div>
                                                        <div class="card__content">
                                                            <div class="card__text">
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                                <div class="text__row">
                                                                    <div class="text__loader"></div>
                                                                    <div class="text__loader"></div>
                                                                </div>
                                                            </div>
                                                            <div class="card__symbol">
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <button type="button" class="btn btn-primary"
                        onclick="healthDeclaration()">
                        GỬI TỜ KHAI
                    </button>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="messengerErrorModal" tabindex="-1" role="dialog" aria-labelledby="errorTittle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorTittle">Thông Tin Không Đầy Đủ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal_messenger_error" class="text-center">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="messengerSuccess" tabindex="-1" role="dialog" aria-labelledby="successTittle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successTittle">Bạn Đã Hoàn Thành Khảo Sát</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Cảm ơn sự trợ giúp của bạn</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layout::bottomBar"></footer>
    <th:block th:replace="layout::jsAll"></th:block>
    <script th:src="@{/js/web/declare.js}"></script>
    <script th:src="@{/js/web/value.js}"></script>
    <script>
        $(document).ready(function () {
            var birth = $("#person_birthYear");
            birth.html("");
            var end = new Date().getFullYear(),
                begin = end - 200;
            begin = begin>0 ? begin:1900;
            for (var year = begin; year<=end; year++){
                birth.append("<option value='" + year + "'>" + year + "</option>");
            }
            birth.val(end-25);

            declare.getProvince($("#national_Departure").val(), $("#entry_provinceDeparture"));
            declare.getProvince($("#national_destination").val(), $("#entry_provinceDestination"));
            declare.getProvinceForLocation($("#contact_Province"),$("#contact_District"),$("#contact_Location"));
            declare.setValidate();
        });

        $("#national_Departure").change(
            function () {
                declare.getProvince($(this).val(), $("#entry_provinceDeparture"));
            }
        );
        $("#national_destination").change(
            function () {
                declare.getProvince($(this).val(), $("#entry_provinceDestination"));
            }
        );
        $("#contact_Province").change(
            function () {
                declare.getDistrictForLocation($(this).val(),$("#contact_District"),$("#contact_Location"));
            }
        );
        $("#contact_District").change(
            function () {
                declare.getWard($(this).val(),$("#contact_Location"));
            }
        );
        $("#transportType").change(
            function () {
                declare.transportTypeChange();
            }
        );
        function checkPassport() {
            declare.result_passport = declare.checkPassport();
            $("#messengerResult").html("");
        }

        function healthDeclaration() {
            declare.dataValidate();
        }
    </script>
</body>
</html>